<!-- manager.html -->
<div class="wide100p padding5 dataBankAttachments" id="table_manager_container">
    <!--    <h2 class="marginBot5">-->
    <!--        <span>-->
    <!--            Bảng dữ liệu-->
    <!--        </span>-->
    <!--    </h2>-->
    <small data-i18n="managerDescription">
        Đây là bảng dùng để lưu trữ dữ liệu. Chỉ cần tiến hành cuộc hội thoại bình thường, bảng sẽ tự động cập nhật mà không cần thực hiện bất kỳ thao tác nào. Các nút "Tóm tắt/Sắp xếp" và "Điền bảng ngay" ở dưới chỉ là các công cụ hỗ trợ.
    </small>
    <div id="tableEditTips"></div>
    <hr />
    <div style=" display: flex; justify-content: space-between; flex-wrap: wrap; ">
        <div style=" display: flex; justify-content: flex-start; flex-wrap: wrap; width: fit-content; gap: 4px;">
            <!--            <div style="display: flex; justify-content: center;">-->
            <!--                <select id="table_refresh_type_selector" class="text_pole" style="height: 30px; width: 200px;">-->
            <!--                    <option value="">~~~Nếu thấy tùy chọn này tức là có lỗi xảy ra~~~~</option>-->
            <!--                </select>-->
            <!--            </div>-->
            <!--            <div style="display: flex; justify-content: center;" id="table_edit_mode_button">-->
            <!--                <i class="menu_button menu_button_icon fa-solid fa-pen" style="height: 30px; width: 30px" title="Chỉnh sửa hàng loạt"></i>-->
            <!--            </div>-->
            <div style="display: flex; justify-content: center" id="table_data_statistics_button" title="Xem thống kê dữ liệu bảng"
                data-i18n="[title]View table data statistics">
                <i class="menu_button menu_button_icon fa-solid fa-ranking-star" style="height: 30px; width: 30px"></i>
            </div>
            <div style="display: flex; justify-content: center" id="dataTable_history_button" title="Xem lịch sử chỉnh sửa bảng"
                data-i18n="[title]View table edit history">
                <i class="menu_button menu_button_icon fa-solid fa-history" style="height: 30px; width: 30px"></i>
            </div>
            <div style="display: flex; justify-content: center" id="table_undo" title="Khôi phục bảng"
                data-i18n="[title]Completely rebuild table">
                <i class="menu_button menu_button_icon fa-solid fa-undo" style="height: 30px; width: 30px"></i>
            </div>
            <div style="display: flex; justify-content: center" id="table_rebuild_button" title="Tóm tắt bảng"
                data-i18n="[title]Completely rebuild table">
                <i class="menu_button menu_button_icon fa-solid fa-repeat" style="font-family: Arial; font-size: 14px;">Tóm tắt/Sắp xếp</i>
            </div>
            <div style="display: flex; justify-content: center" id="trigger_step_by_step_button" title="Cập nhật thủ công"
                data-i18n="[title]Completely rebuild table">
                <i class="menu_button menu_button_icon fa-solid fa-bolt" style="font-family: Arial; font-size: 14px;">Điền bảng ngay</i>
            </div>

            <!--            <div style="display: flex; justify-content: center;" id="paste_table_button">-->
            <!--                <i class="menu_button menu_button_icon fa-solid fa-paste" style="height: 30px; width: 30px" title="Dán bảng"></i>-->
            <!--            </div>-->
            <!-- <div style="display: flex; justify-content: center;" id="table_clear_up_button">
                <i class="menu_button menu_button_icon fa-solid fa-broom" style="height: 30px; width: 30px" title="Sắp xếp bảng (có thể thay đổi cài đặt từ giao diện plugin)"></i>
            </div> -->
        </div>
        <div style=" display: flex; justify-content: flex-end; flex-wrap: wrap; width: fit-content; gap: 4px;">
            <div style="display: flex; justify-content: center" id="copy_table_button">
                <i class="menu_button menu_button_icon fa-solid fa-copy" style="height: 30px; width: 30px" title="Sao chép bảng"
                    data-i18n="[title]Copy table"></i>
            </div>
            <div style="display: flex; justify-content: center" id="import_table_button">
                <i class="menu_button menu_button_icon fa-solid fa-file-import" style="height: 30px; width: 30px"
                    title="Nhập bảng" data-i18n="[title]Import table"></i>
            </div>
            <div style="display: flex; justify-content: center" id="export_table_button">
                <i class="menu_button menu_button_icon fa-solid fa-file-export" style="height: 30px; width: 30px"
                    title="Xuất bảng" data-i18n="[title]Export table"></i>
            </div>
            <div style="display: flex; justify-content: center" id="clear_table_button">
                <i class="menu_button menu_button_icon fa-solid fa-trash-can redWarningBG"
                    style="height: 30px; width: 30px" title="Xóa bảng" data-i18n="[title]Clear table"></i>
            </div>
        </div>
    </div>
    <hr />
    <div style="display: flex; justify-content: space-between; ">
        <div style="display: flex; justify-content: center" id="table_prev_button" title="Bảng trước">
            <i class="menu_button menu_button_icon fa-solid" style="font-family: Arial; font-size: 14px;">&lt; Bảng trước</i>
        </div>
        <div id="table_indicator">Hiện tại là bảng mới nhất</div>
        <div style="display: flex; justify-content: center" id="table_next_button" title="Bảng sau">
            <i class="menu_button menu_button_icon fa-solid" style="font-family: Arial; font-size: 14px;">Bảng sau &gt;</i>
        </div>
    </div>
    <hr />
    <div id="contentContainer">
        <div id="tableContainer">
        </div>
    </div>
</div>
